audioop-lts==0.2.2
audioread==3.1.0
certifi==2026.6.17
cffi==2.1.0
chardet==7.4.3
charset-normalizer==3.4.9
contourpy==1.3.3
cycler==0.12.1
decorator==5.3.1
fonttools==4.63.0
idna==3.18
importlib_resources==7.1.0
joblib==1.5.3
jsonpickle==4.1.2
kiwisolver==1.5.0
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.48.0
matplotlib==3.11.1
mido==1.3.3
more-itertools==11.1.0
msgpack==1.2.1
music21==10.5.0
narwhals==2.24.0
numba==0.66.0
numpy==2.4.6
packaging==26.2
pillow==12.3.0
platformdirs==4.10.1
pooch==1.9.0
pretty_midi==0.2.11
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
soundfile==0.14.0
soxr==1.1.0
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
threadpoolctl==3.6.0
typing_extensions==4.16.0
urllib3==2.7.0
webcolors==25.10.0
coverage==7.15.2
iniconfig==2.3.0
pluggy==1.6.0
pytest==9.1.1
pytest-cov==7.1.0
ruff==0.15.22
